.dark-gray-background{
    -fx-background-color: #46474A;
}
.gray-background{
    -fx-background-color: #636566;
}
.transparent-background{
    -fx-background-color: rgba(0,0,0,0);
}
.radius{
    -fx-background-radius: 100px;
}
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}
.light-gray-background{
    -fx-background-color: #DADADA;
}
.mesaage-sent{
    -fx-color: rgb(239, 242, 255);
    -fx-background-color: rgb(15, 125, 242);
    -fx-background-radius: 20px;
}
