.navigation-bar{
    -fx-background-color: #395A7F;
}
.connections-background{
    -fx-background-color: #6E9FC1;
}
.transparent-background{
    -fx-background-color: rgba(0,0,0,0);
    -fx-focus-color: transparent;
    -fx-text-fill: white;

}
.radius{
    -fx-background-radius: 100px;
}
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}
.light-gray-background{
    -fx-background-color: #DADADA;
}
.mesaage-sent{
    -fx-color: rgb(239, 242, 255);
    -fx-background-color: rgb(15, 125, 242);
    -fx-background-radius: 20px;
}
.primary-color{
    -fx-background-color: #395A7F;
}

.secondary-color{
    -fx-background-color: #6E9FC1;
}
.button{
    -fx-background-color: #9CADD8;
    -fx-background-radius: 30;
}
.text-input{
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #242551;
}
.SenderLabel{

    -fx-border-radius: 10 0 10 10;
    -fx-background-radius:10 0 10 10;
    -fx-background-color:#A3CAE9;
    -fx-padding:10;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}
.ReceiverLabel {
    -fx-border-radius: 0 10 10 10;
    -fx-background-radius:0 10 10 10;
    -fx-background-color: #E9ECEE;
    -fx-padding:10;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;

}
