.dark-gray-background{
    -fx-background-color: #46474A;
}
.gray-background{
    -fx-background-color: #636566;
}
.transparent-background{
    -fx-background-color: rgba(0,0,0,0);
}
.radius{
    -fx-background-radius: 100px;
}
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}